@charset "UTF-8";
@import "reset";
@import '~@/styles/themify-icons/themify-icons';
@import "~@/styles/flaticon/flaticon.css";
@import "style";
@import "list";
@import "font-awesome/css/font-awesome.min.css";
body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.container {
  position: relative;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}

a {
  color: #333333;
  transition: all 0.2s;
  text-decoration: none;
}
