@charset "UTF-8";
@import 'reset';
@import 'themify-icons.css';
@import '~@/styles/flaticon/flaticon.css';
@import 'font-awesome/css/font-awesome.min.css';
@import 'flaticon/flaticon.css';
@import "style";
.tns-outer {
  position: relative;
}

.tns-controls{
  &:focus {
    outline: none;
  }
}

.tns-controls button {
  outline: none;
}
.tns-item img {
  width: 100%;
  transform-style: preserve-3d;
}
